<!-- <div class="container">
    <h1>SVG Assignment</h1>
    <svg>
        <rect class="outerrect"/>
        <rect class="innerrect"/>
        <text>TEST</text> 
        <line/>
        <text class="dollar">Dollar sales : $3000</text> 
        <text class="unit">Unit sales : $4000</text> 
    </svg>
</div> -->

<!-- <svg [attr.width]="330" [attr.height]="190" [attr.version]="1.1" viewBox="0 0 330 190">
        <rect [attr.x]="0" [attr.y]="0" [attr.width]="330" [attr.height]="190" [attr.fill]="fillColorOuterRect" [attr.stroke]="strokeColorOuterRect" [attr.stroke-width]="1"/>
        <rect [attr.x]="10" [attr.y]="10" [attr.width]="310" [attr.height]="170" [attr.fill]="fillColorInnerRect" [attr.stroke]="strokeColorInnerRect" [attr.stroke-width]="4"/>
        <style>
            .test{
                font-size: 35px;
                font-family: 'Raleway', sans-serif;
                font-weight: bolder;
                fill: #818080;
            }
            .sales{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                fill: #b3b3b3;
            }
        </style>
        <text class="test" [attr.x]="125" [attr.y]="60">TEST</text> 
        <line [attr.x1]="40" [attr.y1]="85" [attr.x2]="290" [attr.y2]="85" stroke="#b2b2b2" [attr.stroke-width]="2" />
        <text class="sales" [attr.x]="90" [attr.y]="120">Dollar sales: $3000</text> 
        <text class="sales" [attr.x]="98" [attr.y]="142">Unit sales: $4000</text> 
    </svg> -->
    <!-- <svg width="330" height="190" version="1.1" viewBox="0 0 330 190">
        <rect x="0" y="0" width="330" height="190" fill="white" stroke="#e5e5e5" stroke-width="1"/>
        <rect x="10" y="10" width="310" height="170" fill="#ffffd9" stroke="white" stroke-width="4"/>
        <style>
            .test{
                font-size: 35px;
                font-family: 'Raleway', sans-serif;
                font-weight: bolder;
                fill: #818080;
            }
            .sales{
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                fill: #b3b3b3;
            }
        </style>
        <text class="test" x="125" y="60">TEST</text> 
        <line x1="40" y1="85" x2="290" y2="85" stroke="#b2b2b2" stroke-width="2" />
        <text class="sales" x="90" y="120">Dollar sales: $3000</text> 
        <text class="sales" x="98" y="142">Unit sales: $4000</text> 
    </svg> -->